<div class="container">

    <form id="form">
        <div class="form-group form-box">
            <label for="Subject"></label>
            <input type="text" class="form-control" id="text" aria-describedby="textHelp" placeholder="Subject">
        </div>
        <div class="form-group form-box">
            <label for="comment"></label>
            <input type="text" class="form-control" id="comment" placeholder="Comment">
        </div>

        <button id="btn-newpost" type="submit" class="btn">New Post</button>
    </form>
    {{!-- ----------------First card --}}
    {{#each category}}
    <div id="card" class="card ">
        <div id="card-header" class="card-header">
            {{title}}
        </div>
        <div id="card-body" class="card-body">
            <p class="card-text">{{body}}
            </p>
            <h5 class="date">{{createdAt}}</h5>
        </div>
        <div class="card-footer text-muted">
            <a href="/category/post/{{id}}" class="btn ">Comment</a>
        </div>
    </div>
    {{/each}}

</div>

<link rel="stylesheet" href="/styles/category.css">